.venv
.vscode
__pycache__

agent_storage
logs
results

*.sbatch
*.log
*.csv
/baseline_results
/agents_test
/agents_test
agents_test/storage_dir/DreamTeam109Agent/agents_test_linear_agent_linear_agent_LinearAgent.json
/agents_test/storage_dir
